.sidebar-left {
    flex: 2.45;
    height: calc(100vh - 50px);
    position: sticky;
    background-color: transparent;
    position: sticky;
    top: 57px;
    overflow: hidden;
}

.sidebar-left:hover {
    overflow-y: scroll;
}

.sidebar-left::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

.sidebar-left::-webkit-scrollbar-track {
    background-color: var(--mainBackground);
}

.sidebar-left::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: 10px;
}


.sidebar-user-picture {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 10px
}

div.sidebar-item {
    margin-top: 20px;
}

.sidebar-item {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: capitalize;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 10px;
}

.sidebar-item:hover {
    background-color: var(--sidebarListBackgroundColorHover);
}

.sidebar-item>.sidebar-item-child {
    margin: 0 15px;
    font-size: 30px;
    color: #197CE8;
}